.voteContainer {
  padding: 30px 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.050);
  margin-bottom: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head h3 {
  font-size: 1.3em;
  font-weight: bolder;
}

.date {
  font-size: 1em;
}

.matters {
  font-weight: 400;
  font-size: 1.2em;
}

.moreInfo {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: stretch;
  margin-top: 20px;
}

.votesInfo {
  background-color: #f5f5f5;
  border: 1px solid #5f5f5f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 8px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1rem;
  color: #5f5f5f;
}

.linkInfo {
  background-color: #5f5f5f;
  border: 1px solid #5f5f5f;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.linkInfo > a {
  margin: auto;
  padding: 0 10px;
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
}

.linkInfo > a:hover {
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
}

@media screen and (max-width: 768px) {
  .moreInfo {
    flex-direction: column;
    justify-content: bottom;
    align-items: stretch;
  }
  .votesInfo {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .linkInfo {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}