# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.idea

# Environments
.env*
.venv

# Database
data
db.sqlite3

# Static files
deputies.json
last_deputies.json
post*.png

# VS Code
launch.json
.vscode

# Production
Caddyfile
Dockerfile.prod
docker-compose.prod.yml
