.aboutSection {
  margin: 4em;
}

.boxContainer {
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.050);
  margin: 20px;
}

.boxContainer h1 {
  text-align: center;
  font-size: 2.2em;
  font-weight: 600;
}

.boxContainer h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
}

.boxContainer p {
  text-align: justify;
  font-size: 1.1em;
}

@media screen and (max-width: 768px) {
  .aboutSection {
    margin: .5em;
  }
}